<%- include("header"); -%>
    <h2>About</h2>
    <p class="item"><em>This is TO-DO list made by Manish who is pre-final year CSE student who loves development and programming.In
            this todo we can manage our daily tasks and at the end of the day we can tick mark them as see that we did
            our work.</em></p>
    <%- include("footer"); -%>